*{
 margin: 0;
 padding: 0;
}

body {
	color: #222;
	line-height: 180%;
	background: #eee;
	min-width:950px;
}

.greenButton {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: .6em 1em;
	border: solid 1px #aab089;
	text-decoration: none;
	background: #d2d8b1;
	border-radius: 4px;
	font-size: 1.75em;
	color: #444;
}

#content_wrapper {
	position:relative;
}

.shareButton {
	padding:0 5px;
	padding-right:15px;
	background-color:#D4D6C5;
	background-image:url(../img/share.png);
	background-repeat:no-repeat;
	background-position-y:50%;
	background-position-x:3px;
	background-size:20px;
	padding-left:33px;
	z-index:1;
}

.shareButton:hover {
	color:rgb(54, 54, 54);
	background-color:#E4E6D5;
}

#pinURLInput {
	width: 100%;
    white-space: nowrap;
    min-height: 26px;
    padding: 0px 5px;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    font-size: 11px;
    color: #999;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height:1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    outline: none;
}

#pinURLCopy {

}

.green_line {
	background-color:#d2d8b1;
}

#input_zone_wrapper {
	margin-top:10px;
}

#input_zone {
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
}

#script {
	float:right;
}

code {
	text-align: left;
}

#scenario li {
	text-align: left;
	margin-left: 80px;
}

.note {
	font-size: 10pt;
	text-align: left;
	font-style: italic;
}

#pinURL {
	border: solid #aaa 1px;
	background-color: white;
	color: #666;
	padding: 0px 5px 0px 5px;
}

#pinBox {
	text-align: center;
}

#pinBox p {
	text-indent: 0px;
	margin: 10px;
}


/* Diagram stuff */
.actionLines {
	position:relative;
	margin-top: 2em;
}

#diagramWrapper {
	float:right;
}

#diagram {
	position:relative;
	padding-top:15px;
	width:600px;
	/*float:right; */
	margin-left:20px;
	padding-bottom:15px;
	padding-right:15px;
	line-height:180%;
}


.disabled {
	background-color: lightgray;
    color: #AAA;
}

#diagram * {
	box-sizing:border-box;
}

.cursor {
	position:absolute;
	border-left:3px solid rgba(20,20,20,0.5);	
	top:-1em;
	bottom:-1em;
}

.actionContainer {
	height:30px;	
}

.actionLine {
	border-top:1px solid #666;/*#5cb85c;*/
	position:relative;
	top:-14px;    	
}


.graduations {
	position:absolute;
	width:100%;
	height:6px;
}

.graduations .actionLine {
	top: 10px;	
}

.timestamp {
	position:absolute;
	bottom:-10px;
	height:10px;
	border-left: 2px solid #5cb85c;	
}

.timemark {
 	position:absolute; 	 
 	width:4px;
 	margin-left:-3px; 	
 	font-size: 10pt;	
 	margin-top: 10px;
 	color: #666 /*#5cb85c;*/
}

.timeLineGradLabel {
	position:absolute;
	bottom:-2.5em;
	margin-left:3px;
	color:gray;
}

.timeLineGradLabel.withEvent {
	color:black;
	font-weight:bold;
}


.actionBar {
	position:relative;	
	background-color: #5cb85c;
	border-radius:2px;
	padding-left:0px;
	font-size: 10pt;
	color: white;
	white-space: nowrap;
	text-align: center;	
	z-index: 1;
}

.finishedAction {
	background-color:#222;
	color:gray;
}
