*{
 margin: 0;
 padding: 0;
}

body {
	color: #222;
	line-height: 180%;
	background: #eee;
	min-width:950px;
}

/* Diagram stuff */
.actionLines {
	position:relative;
	margin-top: 2em;
}

.cursor {
	position:absolute;
	border-left:3px solid rgba(20,20,20,0.5);	
	top: -10px;
	bottom:0;
}

.actionContainer {
	height:30px;	
}

.actionLine {
	border-top:1px solid #666;/*#5cb85c;*/
	position:relative;
	top:-14px;    	
}


.graduations {		
	height:6px;
}

.timemark {
	position: absolute;
	font-size: 10pt;
	color: #666;
	z-index: 10;
	display: inline;
}

.time-mark {
	font-size: 30px;
	left: -12px;
	position: absolute;
	top: -20px;
	border: 2px solid #666;
	border-radius: 5px;
	width: 20px;
	height: 20px;

}

.actionBar {
	position:relative;	
	background-color: #5cb85c;
	border-radius:2px;
	padding-left:0px;
	font-size: 10pt;
	color: white;
	white-space: nowrap;
	text-align: center;	
	z-index: 1;
}